@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  btn-accent: "var(--accent-color)";
  btn-primary: "var(--primary-color)";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #FEF9F2;
  --secondary-color: #213448;
  --secondary-color-light: #547792;
  --accent-color: #328E6E;
  font-family: var(--font-poppins), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}

